.students {
  filter: drop-shadow(4px 3px 9px #7f828d) drop-shadow(-7px -7px 19px #fafbfc);
  background-color: #ffff;
  color: rgb(91, 91, 152);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  box-shadow: none;
  border-radius: 10px;
  padding: 50px 30px;
  margin: 20px;

  &-row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
  }

  &-title {
    font-size: 26px;
    line-height: 1.8rem;
    font-weight: 500;
    color: #010c3f;
  }

  &-program {
    font-size: 14px;
    font-weight: 500;
    background-color: #f1f2fd;
    color: #757fef;
    padding: 6px 8px;
    border-radius: 8px;
  }

  &-button {
    background-image: linear-gradient(310deg, #1d49b8, #66bff9);
    color: #ffff;
    font-weight: 500;
    font-size: 16px;
    padding: 0 38px;
    height: 40px;
    margin-left: 26px;
    border-radius: 10px;

    &:hover {
      background-image: linear-gradient(310deg, #0c3db9, #4aa9e9);
      color: white !important;
      border: unset !important;
    }
  }
}

.ant-tabs > .ant-tabs-nav {
  margin-bottom: 40px;
}

.ant-table-cell {
  font-weight: 500;
  color: #3b404f;
}
.ant-table-thead {
  background: #f7faff !important;
  color: #898ab6 !important;
}
