.domain {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  &-span {
    width: 30%;
    font-weight: 500;
    font-size: 20px;
    line-height: 46px;
    color: #010c3f;
  }
  &-label {
    color: #8d8a8a;
    font-size: 12px !important;
    padding-bottom: 4px !important;
  }
  &-info {
    color: red;
    font-size: 12px;
  }
}
