.card {
  &-container {
    min-height: 480px;
    height: 420px;
    overflow: inherit;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(232, 240, 245);
    filter: drop-shadow(2px 2px 6px #8a8ea0);
    border: 1px solid #cbccd4;
  }

  &-circle {
    text-align: center;
    overflow: hidden;
    width: 100%;
    border-bottom: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      270deg,
      rgba(66, 75, 77, 0),
      #cdd2df 51.56%,
      rgba(66, 75, 77, 0)
    );
    border-width: 1px;
    img {
      height: auto;
      width: 50%;
      object-fit: contain;
      background-repeat: no-repeat;
      background-position: center;
      filter: drop-shadow(10px 10px 8px black);
    }
  }

  &-content {
    text-align: center;
    margin-top: 20px;
    min-height: 140px;
    p {
      margin: 4px;
      color: #5b5b98;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &-title {
    margin: 16px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 18px;
  }

  &-footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
  }

  &-details {
    font-weight: 600;
    font-size: 14px;
    color: #070415;
  }
}
