.settings {
  display: flex;
  justify-content: center;
  filter: drop-shadow(4px 3px 9px #7f828d) drop-shadow(-7px -7px 19px #fafbfc);
  background-color: white;
  color: rgb(91, 91, 152);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  box-shadow: none;
  border-radius: 10px;
  padding: 50px 30px;
  margin: 20px;
  &-container {
    width: 70%;
  }
  &-title {
    font-size: 26px;
    line-height: 1.8rem;
    font-weight: 600;
    color: #010c3f;
    margin-bottom: 30px;
  }
  &-section {
    width: 100%;
    border: 1px solid #cbccd4;
    border-radius: 8px;
    padding: 30px;
    margin-top: 40px;
    background-color: white;
    filter: drop-shadow(2px 2px 6px #8a8ea0);
  }
  &-table {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &-table-title {
    font-weight: 500;
    font-size: 20px;
    color: #010c3f;
    margin-bottom: 30px;
  }
}
