.studentList {
  &-name-email {
    margin-left: 12px;
  }
  &-name {
    font-weight: 500;
    color: #260944;
    font-size: 14px;
    letter-spacing: 0.00938em;
  }
  &-email {
    font-size: 12px;
    color: #a9a9c8;
  }
  &-specialization {
    width: 120px;
    color: #260944;
    font-size: 12px;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    background-color: #bdf0db;
  }
}
