.navbar {
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px 20px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 240, 245);
  filter: drop-shadow(2px 2px 6px #8a8ea0);
  &-row {
    width: 100%;
  }
  &-logo {
    width: 140px;
    img {
      width: 100%;
      filter: drop-shadow(8px 5px 5px rgb(172, 168, 168));
    }
  }
  &-menu {
    text-align: end;
    font-size: 18px;
    font-weight: 500;
    color: #08090d !important;
    text-shadow: 2px 2px 4px #b5bacc;
    padding: 0 8px;
    span {
      margin-right: 2px;
    }
    a {
      color: #08090d !important;
    }
  }
  &-menu-active {
    font-size: 18px;
    font-weight: 500;
    background-color: #e4edf5;
    color: #24398c !important;
    padding: 0 16px;
    border-radius: 8px;
    span {
      margin-right: 2px;
    }
  }

  &-button {
    background-image: linear-gradient(310deg, #1d49b8, #66bff9);
    color: white;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    border-radius: 10px;
    &:hover {
      background-image: linear-gradient(310deg, #0c3db9, #4aa9e9);
      color: white !important;
      border: unset !important;
    }
  }
}
